@import '../vars.scss';

#header {
    background: $header-bg;
    height: 40px;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    h1 {
        font-size: 2.2rem;
        letter-spacing: -.08rem;
        line-height: 1.35;
    
        color: #fff;
        margin: 0 0 0 5px;
    }

    img {
        max-height: 70%;
        width: auto;
    }
    
    button {
        height: 2.8rem;
        line-height: 2.8rem;
        margin: 0 0 0 10px;

        background: lighten($color-primary, 3%);
        border-color: lighten($color-primary, 3%);
    }
    >a {
        margin: 0 0 0 auto;
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
    
}